html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    color: #59B5A4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
}

h1 {
    font-size: 4em;
}

nav a {
    color: #F4CF55;
    text-decoration: none;
}

nav a:visited {
    color: #F4CF55;
    text-decoration: none;
}

nav a:hover {
    color: #F5DC9F;
    text-decoration: none;
}

nav a:active {
    color: #F4CF55;
    text-decoration: none;
}

nav a:link {
    color: #F4CF55;
    text-decoration: none;
}